/* estilos del terrario */
h1{
    text-align: center;
    border: 3px;
    border-style: dashed;
}
.container{
    padding: 10px;
    position: absolute;
    top: 0;
    background-color: #cacaca;
    height: 100%;
    width: 15%;
    border: 3px;
    border-style: dashed;
    border-color: blueviolet;
}
#left-container{
    left: 0px;
}
#right-container{
    right: 0px;
}
.plant-holder{
    position: relative;
    height: 13%;
    left: -10px;
    border: 3px;
    border-style:dotted;
    border-color: #401568;
}
.plant{
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 2;
}
.terrarium{
    border-radius: 20px;
    background: aliceblue;
    width: 250px;
    height: 250px;
}